<div class="header-content">
    <nav class="header-nav">
        <div class="logo">
            <h4>CROSSBOOK.</h4>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">ホーム</a></li>
            <li><a href="">プロフィール</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">ログアウト</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">新規登録</a></li>
                <li><a href="{% url 'login' %}">ログイン</a></li>
            {% endif %}
        </ul>
    </nav>
</div>



