{% extends 'crossbook/base.html' %}
{% block title %}マイページ{% endblock %}
{% block content %}
    <div class="my-page">
        <div class="my-page-wrapper">
            <div class="my-page-left">
                <div class="icon">
                    <img width="180" height="180" src="{{ user.profile.image.url }}" alt="">
                </div>
                <div class="my-page-left-detail">
                    <div class="user-name">
                        <h2>{{ user.username }}</h2>
                    </div>
                    <div class="my-page-left-infos">
                        <div class="info-box">
                            <div class="my-page-left-info_number">1</div>
                            <div class="my-page-left-info_label">出品数</div>
                        </div>
                        <div class="info-box">
                            <div class="my-page-left-info_number">3</div>
                            <div class="my-page-left-info_label">評価数</div>
                        </div>
                    </div>
                </div>

                <div class="profile-text">
                    <p>プロフィール文</p>
                    <div class="bio">
                        <p>{{ user.profile.text }}</p>
                    </div>
                </div>
            </div>
            <ul class="my-page-right">
                {% for post in posts %}
                    <li class="my-page-content-box">
                        <div class="image-wrapper">
                            <div class="my-page-content-post-image"
                                 style="background:url({{ post.image.url }}) no-repeat center;
                                         background-size: contain;">
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}