{% extends 'crossbook/base.html' %}
{% load widget_tweaks %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="sign-up-form">
        <h1>新規登録</h1>
        <hr class="horizon">
        <form method="POST" action="">
            <p>{{ form.username.label }}</p>
            {{ form.username|add_class:'input-box' }}
            <p>{{ form.email.label }}</p>
            {{ form.email|add_class:'input-box' }}
            <p>{{ form.password1.label }}</p>
            {{ form.password1|add_class:'input-box' }}
            <p>{{ form.password2.label }}</p>
            {{ form.password2|add_class:'input-box' }}
            <button class="submit-button" type="submit">登録</button>
        </form>
        <p class="already-have-an-account">アカウントを既に持っている方は<span><a href="#">こちら</a></span></p>
    </div>
{% endblock %}